<p id="notice"><%= notice %></p>

<h1>Intruders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Img url</th>
      <th>Wants</th>
      <th>Fears</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intruders.each do |intruder| %>
      <tr>
        <td><%= intruder.name %></td>
        <td><%= intruder.description %></td>
        <td><%= intruder.img_url %></td>
        <td><%= intruder.wants %></td>
        <td><%= intruder.fears %></td>
        <td><%= link_to 'Show', intruder %></td>
        <td><%= link_to 'Edit', edit_intruder_path(intruder) %></td>
        <td><%= link_to 'Destroy', intruder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intruder', new_intruder_path %>
