<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @witch.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @witch.description %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @witch.img_url %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @witch.img_url %>
</p>

<p>
  <strong>Knowledge:</strong>
  <%= @witch.knowledge %>
</p>

<p>
  <strong>Cuteness:</strong>
  <%= @witch.cuteness %>
</p>

<p>
  <strong>Quickness:</strong>
  <%= @witch.quickness %>
</p>

<p>
  <strong>Patience:</strong>
  <%= @witch.patience %>
</p>

<p>
  <strong>Favorite familar:</strong>
  <%= @witch.favorite_familar %>
</p>

<p>
  <strong>Favorite element:</strong>
  <%= @witch.favorite_element %>
</p>

<%= link_to 'Edit', edit_witch_path(@witch) %> |
<%= link_to 'Back', witches_path %>
