<%= form_with(model: spellbook, local: true) do |form| %>
  <% if spellbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spellbook.errors.count, "error") %> prohibited this spellbook from being saved:</h2>

      <ul>
      <% spellbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :spellbook_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :spellbook_description %>
  </div>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url, id: :spellbook_img_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
