<p id="notice"><%= notice %></p>

<h1>Spellbooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Img url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spellbooks.each do |spellbook| %>
      <tr>
        <td><%= spellbook.name %></td>
        <td><%= spellbook.description %></td>
        <td><%= spellbook.img_url %></td>
        <td><%= link_to 'Show', spellbook %></td>
        <td><%= link_to 'Edit', edit_spellbook_path(spellbook) %></td>
        <td><%= link_to 'Destroy', spellbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spellbook', new_spellbook_path %>
