<p id="notice"><%= notice %></p>

<p>
  <strong>Spellbook:</strong>
  <%= @recipe.spellbook %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @recipe.img_url %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @recipe.effect %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
