<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe_id %>
    <%= form.text_field :recipe_id, id: :ingredient_recipe_id %>
  </div>

  <div class="field">
    <%= form.label :container_id %>
    <%= form.text_field :container_id, id: :ingredient_container_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ingredient_name %>
  </div>

  <div class="field">
    <%= form.label :tooltip %>
    <%= form.text_field :tooltip, id: :ingredient_tooltip %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :ingredient_description %>
  </div>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url, id: :ingredient_img_url %>
  </div>

  <div class="field">
    <%= form.label :element %>
    <%= form.text_field :element, id: :ingredient_element %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :ingredient_origin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
