<%= form_with(model: @model, local: true) do |form| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this #{model.class.name} from being saved:</h2>
      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @model.attributes.except("created_at","updated_at").each do |attr_name, attr_value| %>
    <div class="field">    
        <%= form.label attr_name %>
        <%= form.text_field attr_name, id: "#{@model}_#{attr_name}, :value => attr_value "%>    
    </div>
  <% end %>

    

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
