<!DOCTYPE html>
<html>
  <head>
    <title>MlwApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-xs-3" style="width:20%; float:left;">
      <ul class="list-group">
        <%  @menu_items.map do |item| %>
        	<li class="list-group-item <%= %>"> <%= link_to "/admin/#{item}", item %> </li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-9" style="width:80%; float:right;">
      <%= yield %>
    </div>
  </body>
</html>
