<!DOCTYPE html>
<html>
  <head>
    <title>MlwApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-3" >
          <h1>Navigation</h1>
          <ul class="list-group">
            <%  @menu_items.map do |item| %>
              <li class="list-group-item <%= %>"> <%= link_to item, item, action: :index %> </li>
            <% end %>
          </ul>
        </div>
        <div class="col-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
